<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <title>Template mail bienvenue</title>
  <link rel="stylesheet" href="../css/template-base.css" />
</head>

<body>
  <center style="height: 800px;">
    <table style="height: 100%;">
      <thead>
        <tr>
          <th height="150px" style="height: 150px; width: 100%">
            <img class="imgHeader" height="150px" width="100%" style="border-radius: 10px;"
              src="https://res.cloudinary.com/dtcv1mq3p/image/upload/v1667467969/APi-Note/header_lgudgp.jpg" />

          </th>
        </tr>
        <tr>
          <th>
            <div style="padding: 0px 20px; text-align: start;">
              <div style="height: 80%;">
                __Template__
              </div>

            </div>
          </th>
        </tr>
      </thead>
      <tfoot style="height: 100px; width: 70%">
        <tr>
          <th style=" width: 70%;">
            <p> Ce message est généré automatiquement. Merci de ne pas y répondre </p>
            <br />

            <img class="logo
            " src="https://res.cloudinary.com/dtcv1mq3p/image/upload/v1667467970/APi-Note/logo_jtkzfb.png" width="80px"
              height="80px" style="  position: absolute;
              box-sizing: content-box;
              border-color: #cbd5e1;
              float: left;" />
            <div id="basDePage" style="height: 98px;
            background: #874c62;
            padding: 5px;
            width: 100%;
            margin: auto;
            text-align: center;
            border-color: #f2d388;
            border-style: double;
            border-radius: 10px;
            border-style: none;">
              <h1>PinNote</h1>
            </div>
            <br />
          </th>
        </tr>
      </tfoot>
    </table>
  </center>
</body>